/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.smile {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  -ms-grid-rows: (1fr)[15];
      grid-template-rows: repeat(15, 1fr);
  z-index: 99;
  position: relative;
}

.smile__black1 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 1/6/1/11;
}

.smile__black2 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 2/4/2/13;
}

.smile__black3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-area: 3/3/3/14;
}

.smile__black4 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-area: 4/2/4/15;
}

.smile__black5 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-area: 5/2/5/15;
}

.smile__black6 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 15;
  grid-area: 6/1/11/16;
}

.smile__black7 {
  -ms-grid-row: 11;
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-area: 11/2/11/15;
}

.smile__black8 {
  -ms-grid-row: 12;
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-area: 12/2/12/15;
}

.smile__black9 {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-area: 13/3/13/14;
}

.smile__black10 {
  -ms-grid-row: 14;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 14/4/14/13;
}

.smile__black11 {
  -ms-grid-row: 15;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 15/6/15/11;
}

.smile__yellow1 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 2/6/2/11;
}

.smile__yellow2 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 3/4/3/13;
}

.smile__yellow3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-area: 4/3/6/14;
}

.smile__yellow4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: 7/2/11/2;
}

.smile__yellow5 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 14;
  -ms-grid-column-span: 1;
  grid-area: 7/14/11/15;
}

.smile__yellow6 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 9/3/13/4;
}

.smile__yellow7 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  -ms-grid-column: 13;
  -ms-grid-column-span: 1;
  grid-area: 9/13/13/14;
}

.smile__yellow8 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 10/4/12/13;
}

.smile__yellow9 {
  -ms-grid-row: 8;
  -ms-grid-column: 8;
  grid-area: 8/8;
}

.smile__yellow10 {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 9/7/9/10;
}

.smile__yellow11 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 12/4/14/6;
}

.smile__yellow12 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 2;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 12/11/14/13;
}

.smile__yellow13 {
  -ms-grid-row: 12;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 12/7/12/10;
}

.smile__yellow14 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 13/6/15/7;
}

.smile__yellow15 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-area: 13/10/15/11;
}

.smile__yellow16 {
  -ms-grid-row: 14;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 14/7/14/10;
}

.smile__white1 {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 7/5/7/7;
}

.smile__white2 {
  -ms-grid-row: 8;
  -ms-grid-column: 12;
  grid-area: 8/12;
}

.smile__white3 {
  -ms-grid-row: 8;
  -ms-grid-column: 6;
  grid-area: 8/6;
}

.smile__white4 {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 7/11/7/13;
}

.smile [class*="black"] {
  background: #000000;
}

.smile [class*="yellow"] {
  background: yellow;
}

.smile [class*="white"] {
  background: white;
}

.tuna {
  -webkit-animation: walk-cycle 1s steps(12) infinite;
          animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat;
  height: 200px;
  width: 400px;
  position: absolute;
  bottom: 1px;
  left: 25%;
  margin-left: -200px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
}

@-webkit-keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2391px;
  }
}

@keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2391px;
  }
}

.foreground, .midground, .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.foreground {
  -webkit-animation: parallax_fg linear 10s infinite both;
          animation: parallax_fg linear 10s infinite both;
  background: url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
  z-index: 3;
}

@-webkit-keyframes parallax_fg {
  0% {
    background-position: -3584px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes parallax_fg {
  0% {
    background-position: -3584px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

.midground {
  -webkit-animation: parallax_mg linear 20s infinite;
          animation: parallax_mg linear 20s infinite;
  background: url("http://stash.rachelnabors.com/24ways2012/midground_grass.png") 0 100% repeat-x;
  z-index: 2;
}

@-webkit-keyframes parallax_mg {
  0% {
    background-position: -3000px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes parallax_mg {
  0% {
    background-position: -3000px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

.background {
  background-image: url("http://stash.rachelnabors.com/24ways2012/background_mountain5.png"), url("http://stash.rachelnabors.com/24ways2012/background_mountain4.png"), url("http://stash.rachelnabors.com/24ways2012/background_mountain3.png"), url("http://stash.rachelnabors.com/24ways2012/background_mountain2.png"), url("http://stash.rachelnabors.com/24ways2012/background_mountain1.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  z-index: 1;
  -webkit-animation: parallax_bg linear 40s infinite;
          animation: parallax_bg linear 40s infinite;
}

@-webkit-keyframes parallax_bg {
  100% {
    background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;
  }
}

@keyframes parallax_bg {
  100% {
    background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;
  }
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0))), #d2d2d2 url("http://stash.rachelnabors.com/24ways2012/background_clouds.png");
  background: linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%), #d2d2d2 url("http://stash.rachelnabors.com/24ways2012/background_clouds.png");
}
/*# sourceMappingURL=styles.css.map */