.smile {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  z-index: 99;
  position: relative;

  &__black1 {
    grid-area: 1/6/1/11;
    
  }

  &__black2 {
    grid-area: 2/4/2/13;
  }

  &__black3 {
    grid-area: 3/3/3/14;
  }

  &__black4 {
    grid-area: 4/2/4/15;
  }

  &__black5 {
    grid-area: 5/2/5/15;
  }

  &__black6 {
    grid-area: 6/1/11/16;
  }

  &__black7 {
    grid-area: 11/2/11/15;
  }

  &__black8 {
    grid-area: 12/2/12/15;
  }

  &__black9 {
    grid-area: 13/3/13/14;
  }

  &__black10 {
    grid-area: 14/4/14/13;
  }

  &__black11 {
    grid-area: 15/6/15/11;
  }

  &__yellow1 {
    grid-area: 2/6/2/11
  }

  &__yellow2 {
    grid-area: 3/4/3/13;
  }

  &__yellow3 {
    grid-area: 4/3/6/14
  }

  &__yellow4 {
    grid-area: 7/2/11/2
  }

  &__yellow5 {
    grid-area: 7/14/11/15
  }

  &__yellow6 {
    grid-area: 9/3/13/4
  }

  &__yellow7 {
    grid-area: 9/13/13/14
  }

  &__yellow8 {
    grid-area: 10/4/12/13
  }

  &__yellow9 {
    grid-area: 8/8
  }

  &__yellow10 {
    grid-area: 9/7/9/10
  }

  &__yellow11 {
    grid-area: 12/4/14/6
  }

  &__yellow12 {
    grid-area: 12/11/14/13
  }

  &__yellow13 {
    grid-area: 12/7/12/10
  }

  &__yellow14 {
    grid-area: 13/6/15/7
  }

  &__yellow15 {
    grid-area: 13/10/15/11
  }

  &__yellow16 {
    grid-area: 14/7/14/10
  }

  &__white1 {
      grid-area: 7/5/7/7;
  }

  &__white2 {
    grid-area: 8/12;
}

&__white3 {
    grid-area: 8/6;
}

&__white4 {
    grid-area: 7/11/7/13;
}
}

.smile [class*="black"] {
  background: #000000;
}
.smile [class*="yellow"] {
  background: yellow;
}

.smile [class*="white"] {
    background: white;
  }


  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite
}