.smile {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  z-index: 99;
  position: relative;

  &__black1 {
    grid-area: 1/6/1/11;
    
  }

  &__black2 {
    grid-area: 2/4/2/13;
  }

  &__black3 {
    grid-area: 3/3/3/14;
  }

  &__black4 {
    grid-area: 4/2/4/15;
  }

  &__black5 {
    grid-area: 5/2/5/15;
  }

  &__black6 {
    grid-area: 6/1/11/16;
  }

  &__black7 {
    grid-area: 11/2/11/15;
  }

  &__black8 {
    grid-area: 12/2/12/15;
  }

  &__black9 {
    grid-area: 13/3/13/14;
  }

  &__black10 {
    grid-area: 14/4/14/13;
  }

  &__black11 {
    grid-area: 15/6/15/11;
  }

  &__yellow1 {
    grid-area: 2/6/2/11
  }

  &__yellow2 {
    grid-area: 3/4/3/13;
  }

  &__yellow3 {
    grid-area: 4/3/6/14
  }

  &__yellow4 {
    grid-area: 7/2/11/2
  }

  &__yellow5 {
    grid-area: 7/14/11/15
  }

  &__yellow6 {
    grid-area: 9/3/13/4
  }

  &__yellow7 {
    grid-area: 9/13/13/14
  }

  &__yellow8 {
    grid-area: 10/4/12/13
  }

  &__yellow9 {
    grid-area: 8/8
  }

  &__yellow10 {
    grid-area: 9/7/9/10
  }

  &__yellow11 {
    grid-area: 12/4/14/6
  }

  &__yellow12 {
    grid-area: 12/11/14/13
  }

  &__yellow13 {
    grid-area: 12/7/12/10
  }

  &__yellow14 {
    grid-area: 13/6/15/7
  }

  &__yellow15 {
    grid-area: 13/10/15/11
  }

  &__yellow16 {
    grid-area: 14/7/14/10
  }

  &__white1 {
      grid-area: 7/5/7/7;
  }

  &__white2 {
    grid-area: 8/12;
}

&__white3 {
    grid-area: 8/6;
}

&__white4 {
    grid-area: 7/11/7/13;
}
}

.smile [class*="black"] {
  background: #000000;
}
.smile [class*="yellow"] {
  background: yellow;
}

.smile [class*="white"] {
    background: white;
  }


  .tuna {
    animation: walk-cycle 1s steps(12) infinite;
    background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
  }
  
  @keyframes walk-cycle {  
    0% {background-position: 0 0; } 
    100% {background-position: 0 -2391px; } 
  }
  
  .foreground, .midground, .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    
  }
  
  .foreground {
    animation: parallax_fg linear 10s infinite both;
    background:  url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
    z-index: 3;
  }
  
  @keyframes parallax_fg {  
    0% { background-position: -3584px 100%;} 
    100% {background-position: 0 100%; } 
  }
  
  .midground {
    animation: parallax_mg linear 20s infinite;
    background:  url('http://stash.rachelnabors.com/24ways2012/midground_grass.png') 0 100% repeat-x;
    z-index: 2;
  }
  
  @keyframes parallax_mg {  
    0% { background-position: -3000px 100%;} 
    100% {background-position: 0 100%; } 
  }
  
  .background {
    background-image:
      url('http://stash.rachelnabors.com/24ways2012/background_mountain5.png'),
      url('http://stash.rachelnabors.com/24ways2012/background_mountain4.png'),
      url('http://stash.rachelnabors.com/24ways2012/background_mountain3.png'),
      url('http://stash.rachelnabors.com/24ways2012/background_mountain2.png'),
      url('http://stash.rachelnabors.com/24ways2012/background_mountain1.png');
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 40s infinite;
  }
  
  @keyframes parallax_bg {
    100% { background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;}
  }
  
  body {
      background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
      #d2d2d2 url('http://stash.rachelnabors.com/24ways2012/background_clouds.png');
  }